@import url(./__item/popup__item.css);
@import url(./__item/_active/popup__item_active.css);
@import url(./__exit/popup__exit.css);

.popup {
	background: rgba(0, 0, 0, .5);
	position: fixed; 
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;
	display: flex;
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.35s ease-in;
}