
.photo-grid {
		margin: 36px auto 48px auto;
		display: grid;
		grid-template-columns: 282px;
		grid-template-rows: auto;
		row-gap: 20px;
	}



@media screen and (min-width: 768px) { 

	.photo-grid {
		margin: 50px auto 66px auto;
		grid-template-columns: 282px 282px 282px;
		gap: 21px 18px;
	}

}