.profile__edit-info {
	position: absolute; 
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	background: url(../../../images/edit.svg) 50% 50% no-repeat;
	background-size: 8px 8px;
	right: -34px;
	top: 34px;
}


@media screen and (min-width: 480px) {
	
	.profile__edit-info {
		width: 21px;
		height: 21px;
		top: 45px;
		right: -42px;
		background-size: 10px 10px;
	}
	
}


@media screen and (min-width: 918px) {
	
	.profile__edit-info {
		top: 20px;
		right: -56px;
	}
	
}