.profile__name {
	font-weight: 500;
	font-size: 22px;
	line-height: 56px;
	margin: 14px auto 0;
	position: relative;
}


@media screen and (min-width: 480px) {
	
	.profile__name {
		font-size: 32px;
		margin: 26px auto 4px; /* looks about right for transition sizes between breakpoints */
	}
	
}


@media screen and (min-width:918px) {
	
	.profile__name {
		font-size: 42px;
		margin: 0 0 4px 0;
		/* Despite the numbers being different, this is the margin that looks most like mockup. The alignment of text in the line-height of this element
		 * is not the same in browser vs. figma at all. */
	}
	
}