/* @import url(./__image/photo-viewer__image.css);
@import url(./__caption/photo-viewer__caption.css); */
@import url(./__exit/photo-viewer__exit.css); 

.photo-viewer {
	max-width: 90%;
	flex-direction: column;
	color: #fff;
	margin: auto;
	position: relative;
}

@media screen and (min-width: 515px) {
	
	.photo-viewer {
		max-width: calc(100% - 90px);
	}

}



.photo-viewer__image {
	max-width: 100%;
	max-height: 76vh;
}

.photo-viewer__caption {
	font-size: 12px;
	line-height: 15px;
	margin: 12px 0 0 0; 
}




